@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

:root{
	--theme: #FFC632;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container{
	margin: 0 auto;
	width: 100%;
	display: flex;
	background: white;
	flex-direction: column;
	align-items: center;
	font-family: 'Russo One', sans-serif;
	color: black;
}

a{
	text-decoration: none;
}

.title-font{
	font-size: 50px;
}

/*		HEADER		*/

.header-bg{
	width: 100vw;
	background: var(--theme);
	position: sticky;
	left: 0;
	top: 0;
	-webkit-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
	z-index: 10;
}

.header{
	margin: 0 auto;
	width: 100%;
	max-width: 1024px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px 0;
}

.header-white{
	background: white;
}

.header-contact{
	background: var(--theme);
}

a{
	color: black;
}

.logo > a{
	font-size: 45px;
}

.nav{
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 16px;
}

.nav > .link{
	padding: 0 10px;
	-webkit-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
}

.nav > .link:before{
	content: '';
	display: block;
	position: relative;
	-webkit-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
	transform-origin: center;
	transform: translateY(1.3em) scaleX(0);
	border-bottom: 2px black solid;
}

.nav .link:hover:before{
	transform: translateY(1.3em) scaleX(1);
}

.phone{
	display: flex;
	align-items: center;
	font-size: 18px;
}

.phone > i{
	margin-right: 10px;
}

.link-btn{
	display: none;
}

/*		/HEADER		*/

/*		 MAIN		*/

.main-bg{
	width: 100vw;
	background: var(--theme);
	-webkit-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
}

.main{
	margin: 0 auto;
	width: 100%;
	max-width: 1024px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 100px 0;
}

.title-main > .h1{
	font-size: 50px;
}

.title-main > .h2{
	font-size: 30px;
	color: white;
}

.photo > img{
	border-radius: 25px;
	animation: main-photo 4s infinite;
}

@keyframes main-photo{
	0%{
		box-shadow: 0 5px 50px white;
	}
	60%{
		box-shadow: none;
	}
	100%{
		box-shadow: 0 5px 50px white; /*#2196f3*/
	}
}

.why-me{
	margin: 0 auto;
	width: 100%;
	max-width: 1024px;
	display: flex;
	flex-direction: column;
	padding: 100px 0 50px 0;
}

.title-why-me{
	display: none;
	font-size: 35px;
}

.why-me > .reasons{
	width: 100%;
	display: grid;
	grid-template: 1fr / auto auto auto;
	align-items: center;
	justify-content: space-between;
}

.reason{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.reason > .image{
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 25px;
}

.reason > .reason-1{
	background: #D2FFE2;
}

.reason > .reason-2{
	background: #EEFF89;
}

.reason > .reason-3{
	background: #F4D4FF;
}

.reason img{
	height: 45px;
}

.reason > .text{
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}

.reason h1{
	font-size: 25px;
}

.reason p{
	color: var(--theme);
	font-size: 20px;
}

.about{
	margin: 0 auto;
	width: 100%;
	max-width: 1024px;
	display: flex;
	flex-direction: column;
	padding: 50px 0;
}

/*.title-about{}*/

.about > .text-about{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.text-about > .icon{
	height: 100%;
	font-size: 100px;
	color: var(--theme);
	margin-top: -80px;
}

.about .text{
	width: 100%;
	margin-left: 20px;
	margin-top: 50px;
	padding: 15px;
	border: 5px var(--theme) solid;
	border-radius: 25px;
}

.skills{
	margin: 0 auto;
	width: 100%;
	max-width: 1024px;
	display: flex;
	flex-direction: column;
	padding: 50px 0;
	min-width: 0;
}

.swiper-container{
	margin: 0 auto;
	width: 100%;
	max-width: 1024px;
	height: 495px;
	padding: 0 100px;
}

.title-skills{
	padding: 50px 0;
}

.my-skills{
	width: 100%;
	/*display: flex;
	grid-template: auto / 1fr 1fr 1fr;
	align-items: center;
	justify-content: space-between;
	margin-top: 50px;*/
}

.card{
	width: 300px;
	height: 335px;
	position: relative;
	perspective: 1000px;
}

.card .front{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 300px;
	background: var(--theme);
	opacity: 1;
	z-index: 2;
}

.card .back{
	padding: 30px;
	background: var(--theme);
	z-index: 1;
}

.card .front:hover{
	/*opacity: 0;*/
}

.card .back > .text > i {
	/*color: white;*/
}

.back-1, .back-2, .back-3{
	/*transform: rotateX(180deg);*/
}

.card .back, .card .front{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 35px 30px 30px 30px;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	-webkit-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
}

.card img{
	width: 128px;
}

.card .front > .h1{
	font-size: 25px;
	margin-top: 15px;
}

.card .back > .h1{
	font-size: 25px;
	color: white;
}

.card .front > .h2{
	width: 100%;
	margin-top: 5px;
	font-size: 14px;
}

.card .back > .text{
	font-size: 16px;
	margin-top: 10px;
}

.card .rotate{
	color: white;
	font-size: 14px;
	border: 2px white solid;
	border-radius: 10px;
	padding: 5px 10px;
	margin-top: 25px;
	-webkit-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
	cursor: pointer;
	z-index: 3;
}

.card .rotate:hover{
	color: var(--theme);
	background: white;
}

.skills-in-p{
	width: 100%;
	max-width: 1024px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 100px 0 50px 0;
	animation: bounceInLeft;
	animation-delay: 0.5s; 
	display: none;
}

.title-skill-in-p{
	display: none;
	font-size: 40px;
}

.skills-in-p .my-skills-in-p{
	width: 100%;
	display: flex;
	border-radius: 25px;
	/*margin-top: 50px;*/
}

.skill-circle{
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 40px 30px 50px 30px;
	color: var(--theme);
	font-size: 30px;
	transition: 0.25s;
	/*border-top: 3px black solid;
	border-bottom: 3px black solid;
	/*border-right: 3px white solid;*/*/
}

.skill-power{
	color: var(--theme);
	transform: translateY(95px);
	font-size: 35px;
}

svg{
	width: 200px;
	min-width: 200px;
	z-index: 3;
	height: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	transform: scale(1.2) rotate(-90deg);
	transform-origin: center;
	transition: 0.25s;
}

svg circle{
	fill: none;
	stroke: black;
	stroke-width: 8;
	stroke-linecap: round;
	stroke-dasharray: 445;
	-webkit-stroke-linecap: round;
	-webkit-stroke-dasharray: 445;
	-o-stroke-linecap: round;
	-o-stroke-dasharray: 445;
}

.svg-skills1 circle{
	stroke-dashoffset: 25.5%;
	-webkit-stroke-dashoffset: 25.5%;
	-o-stroke-dashoffset: 25.5%;
	animation: web_animation 1s;
}

.svg-skills2 circle{
	stroke-dashoffset: 100.8%;
	-webkit-stroke-dashoffset: 100.8%;
	-o-stroke-dashoffset: 100.8%;
	animation: design_animation 2s;
}

.svg-skills3 circle{
	stroke-dashoffset: 63%;
	-webkit-stroke-dashoffset: 63%;
	-o-stroke-dashoffset: 63%;
	animation: masks_animation 2s;
}

.svg-skills4 circle{
	stroke-dashoffset: 138.6%;
	-webkit-stroke-dashoffset: 138.6%;
	-o-stroke-dashoffset: 138.6%;
	animation: video_edit_animation 2s;
}

.svg-skills5 circle{
	stroke-dashoffset: 189%;
	-webkit-stroke-dashoffset: 189%;
	-o-stroke-dashoffset: 189%;
	animation: chat_bots_animation 2s;
}

	/*   SKILLS ANIMATION   */

@keyframes web_animation{
	0%{
		stroke-dashoffset: 252%;
	}
	20%{
		stroke-dashoffset: 252%;
	}
	100%{
		stroke-dashoffset: 25.5%;
	}
}

@keyframes design_animation{
	0%{
		stroke-dashoffset: 252%;
	}
	20%{
		stroke-dashoffset: 252%;
	}
	100%{
		stroke-dashoffset: 100.8%;
	}
}

@keyframes masks_animation{
	0%{
		stroke-dashoffset: 252%;
	}
	20%{
		stroke-dashoffset: 252%;
	}
	100%{
		stroke-dashoffset: 63%;
	}
}

@keyframes video_edit_animation{
	0%{
		stroke-dashoffset: 252%;
	}
	20%{
		stroke-dashoffset: 252%;
	}
	100%{
		stroke-dashoffset: 138.6%;
	}
}

@keyframes chat_bots_animation{
	0%{
		stroke-dashoffset: 252%;
	}
	20%{
		stroke-dashoffset: 252%;
	}
	100%{
		stroke-dashoffset: 189%;
	}
}

.portfolio{
	margin: 0 auto;
	width: 100%;
	max-width: 1024px;
	display: flex;
	flex-direction: column;
	padding: 50px 0 100px 0;
}

.swiper-container{
	margin: 0 auto;
	width: 100%;
	max-width: 1024px;
	height: 495px;
	padding: 0 100px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content{
    position: relative;
    background: white;
    margin: auto;
    padding: 0;
    color: black;
    border-radius: 5px;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: portfolioanimatemodal;
    -webkit-animation-duration: 0.4s;
    animation-name: portfolioanimatemodal;
    animation-duration: 0.4s;
    border-radius: 25px;
}

.modal-header {
    padding: 20px 25px 10px 25px;
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color: white;
}


@-webkit-keyframes portfolioanimatemodal {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes portfolioanimatemodal {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.portfolio-modal .close{
	position: absolute;
	top: 15px;
	right: 30px;
    color: black;
    opacity: 1;
    float: right;
    font-size: 50px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 10;
    animation: 7s close infinite;
}

@keyframes close {
    0% {
		color: black;
    }
    60% {
		color: white;
    }
    100%{
		color: black;
    }
}

.portfolio-modal .modal-img{
	width: 100%;
	position: relative;
}

.modal-img > img{
	width: 100%;
	border-radius: 25px;
}

.link-to-project{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	font-size: 200px;
	color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	-webkit-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
	border-radius: 25px;
}

.link-to-project > div{
	animation: 2s link-project infinite;
}

@keyframes link-project{
	0%{
		-webkit-transform: translateX(-10px);
		-ms-transform: translateX(-10px);
		-o-transform: translateX(-10px);
		transform: translateX(-10px);
	}
	50%{
		-webkit-transform: translateX(30px);
		-ms-transform: translateX(30px);
		-o-transform: translateX(30px);
		transform: translateX(30px);
	}
	100%{
		-webkit-transform: translateX(-10px);
		-ms-transform: translateX(-10px);
		-o-transform: translateX(-10px);
		transform: translateX(-10px);
	}
}

.link-to-project:hover{
	color: white;
	background: rgba(0, 0, 0, 0.1);
}

.portfolio-modal .close:hover,
.portfolio-modal .close:focus {
    opacity: 0.5;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 20px 25px 10px 25px;
    background-color: white;
    color: white;
}

.portfolio-modal .modal-body p{
	font-size: 1.1em;
}

.portfolio-modal .modal-body p:nth-child(1){
	font-size: 1.7em;
	border-bottom: 0.5px black solid;
	padding-bottom: 5px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.modal-body {
	padding: 10px 25px 20px 25px;
}

.link-portfolio{
	background: white;
	color: black;
	border-radius: 5px;
	border: .5px black solid;
	padding: 10px;
	font-size: 14px;
	transition: 0.5s;
	text-align: center;
	target: _blanс;
}

.link_portfolio:hover{
	background: black;
	color: white;
}

.title-portfolio{
	padding-top: 100px;
	padding-bottom: 50px;
}

.portfolio > .my-portfolio{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 50px;
}

.my-portfolio > .project{
	width: 300px;
	height: 250px;
	position: relative;
}

.project-link > div{
	animation: 2s portfolio_link infinite;
	-webkit-transform-origin: center bottom;
	-moz-transform-origin: center bottom;
	-ms-transform-origin: center bottom;
	-o-transform-origin: center bottom;
	transform-origin: center bottom;
}

@keyframes portfolio_link{
	0%{
		-webkit-transform: rotate(-10deg) scale(1);
		-ms-transform: rotate(-10deg) scale(1);
		-o-transform: rotate(-10deg) scale(1);
		transform: rotate(-10deg) scale(1);
	}
	50%{
		-webkit-transform: rotate(10deg) translate(-10px, 5px) scale(1.1);
		-ms-transform: rotate(10deg) translate(-10px, 5px) scale(1.1);
		-o-transform: rotate(10deg) translate(-10px, 5px) scale(1.1);
		transform: rotate(10deg) translate(-10px, 5px) scale(1.1);
	}
	100%{
		-webkit-transform: rotate(-10deg) scale(1);
		-ms-transform: rotate(-10deg) scale(1);
		-o-transform: rotate(-10deg) scale(1);
		transform: rotate(-10deg) scale(1);
	}
}

.project-img, .project-link{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
	border-radius: 25px;
}

.project-link{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 70px;
	color: transparent;
	background: transparent;
	z-index: 2;
}

.project-link:hover{
	background: rgba(0, 0, 0, 0.2);
	color: white;
}

.project-link:before{
	content: '';
	border-radius: 0px;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	display: block;
	position: absolute;
	top: 7%;
	right: 7%;
	bottom: 7%;
	left: 7%;
	border-top: 2px white solid;
	border-bottom: 2px white solid;
	transform-origin: center;
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	-o-transform: scaleX(0);
	transform: scaleX(0);
}

.project-link:hover:before{
	border-radius: 25px;
	-webkit-transform: scaleX(1);
	-ms-transform: scaleX(1);
	-o-transform: scaleX(1);
	transform: scaleX(1);
}

.project-link:after{
	content: '';
	border-radius: 0px;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	display: block;
	position: absolute;
	top: 7%;
	right: 7%;
	bottom: 7%;
	left: 7%;
	border-left: 2px white solid;
	border-right: 2px white solid;
	transform-origin: center;
	-webkit-transform: scaleY(0);
	-ms-transform: scaleY(0);
	-o-transform: scaleY(0);
	transform: scaleY(0);
}

.project-link:hover:after{
	border-radius: 25px;
	-webkit-transform: scaleY(1);
	-ms-transform: scaleY(1);
	-o-transform: scaleY(1);
	transform: scaleY(1);
}

.my-portfolio > div:nth-child(1) .project-img{
	background-size: cover;
	background-repeat: no-repeat;
	-ms-background-position: top center;
	background-position: top center;
	background-image: url(../img/portfolio-1.png);
}

.my-portfolio > div:nth-child(2) .project-img{
	background-size: cover;
	background-repeat: no-repeat;
	-ms-background-position: top center;
	background-position: top center;
	background-image: url(../img/portfolio-2.png);
}

.my-portfolio > div:nth-child(3) .project-img{
	background-size: cover;
	background-repeat: no-repeat;
	-ms-background-position: top center;
	background-position: top center;
	background-image: url(../img/portfolio-3.png);
}

.contact-bg{
	width: 100vw;
	background: var(--theme);
	-webkit-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
	margin-top: 50px;
}

.contact{
	margin: 0 auto;
	width: 100%;
	max-width: 1024px;
	display: flex;
	flex-direction: column;
	padding: 100px 0;
}

/*.title-contact{}*/

.contacts{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 50px;
}

.contacts .text{
	color: white;
	font-size: 40px;
}

.social{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.social > div{
	width: 350px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 15px 20px;
	background: white;
	border-radius: 10px;
	-webkit-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
}

.social-img{
	font-size: 40px;
	margin-top: -10px;
}

.text-social{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-left: 10px;
}

.social .name{
	font-size: 20px;
}

.social-link{
	color: var(--theme);
	font-size: 18px;
	text-decoration: underline;
}

.social-link:hover{
	cursor: pointer;
}

.social > div:hover{
	color: white;
	background: black;
}

.contact-social{
	margin-top: 20px;
}

.footer-bg{
	width: 100vw;
	background: #333333;
}

.footer{
	margin: 0 auto;
	width: 100%;
	max-width: 1024px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
	padding: 35px 0;
}

.footer .theme{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.theme > div{
	margin-left: 10px;
	border-radius: 10px;
	-webkit-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
}

.theme > div:hover{
	border: 3px white solid;
}

.all-theme{
	width: 65px;
	height: 25px;
}

.first-theme{
	background: #ffc632;
	border: 3px white solid;

}

.second-theme{
	background: #FF6332;
}

.third-theme{
	background: #B132FF;
}

.privacy-policy{
	color: white;
}

.privacy-policy:hover{
	text-decoration: underline;
	cursor: pointer;
}

.policy-bg{
	width: 100vw;
	background: #333333;
	-webkit-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
}

.title-policy{
	margin: 0 auto;
	width: 100%;
	max-width: 1024px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 0;
	color: white;
}

.title-policy > .home{
	color: white;
}

.title-policy > .home:hover{
	text-decoration: underline;
	cursor: pointer;
}

.policy-content{
	width: 100%;
	max-width: 1024px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 0 30px 0;
}

.policy-content > .h1{
	font-size: 20px;
	margin-top: 40px;
}

.policy-content > .text{
	font-size: 16px;
	margin-top: 20px;
}

.title-policy > .policy{
	font-size: 22px;
}

@media screen and (max-width: 1090px), (max-device-width: 1090px){
	body, .contact, .footer, .header, .main, .title-policy{
		padding-right: 30px;
		padding-left: 30px;
	}

	.footer{
		font-size: 14px;
		padding: 25px 30px;
	}
}

@media screen and (max-width: 1000px), (max-device-width: 1000px){

	.title-main > .h1{
		font-size: 40px;
	}

	.title-main > .h2{
		font-size: 25px;
	}

	.title-font{
		font-size: 40px;
	}

	.header .phone{
		display: none;
	}

	.why-me > .reasons{
		display: grid;
		grid-template: 1fr / auto auto auto;
		align-items: center;
		justify-content: space-between;
	}

	.reason > .image{
		padding: 15px;
	}

	.reason h1{
		font-size: 18px;
	}

	.reason p{
		color: var(--theme);
		font-size: 16px;
	}

	.reason img{
		height: 40px;
	}

	.reason > .text{
		display: flex;
		flex-direction: column;
		margin-left: 10px;
	}

	.text-about > .icon{
		height: 100%;
		margin-top: -100px;
	}

	.card img{
		width: 128px;
	}

	.card .front > .h1{
		font-size: 20px;
		margin-top: 10px;
	}

	.card .back > .h1{
		font-size: 20px;
	}

	.card .front > .h2{
		width: 100%;
		margin-top: 5px;
		font-size: 14px;
	}

	.card .back > .text{
		font-size: 14px;
		margin-top: 10px;
	}

	.contacts .text{
		color: white;
		font-size: 30px;
	}

	.social > div{
		width: 300px;
	}
	.social-img{
		font-size: 30px;
	}
	.social .name{
		font-size: 18px;
	}
	.social-link{
		font-size: 16px;
	}

	.modal-content{
		width: 75%;
	}
}

@media screen and (max-width: 860px), (max-device-width: 860px){
	.link-btn{
		height: 60px;
		width: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: white;
	}

	.link-btn span, 
	.link-btn span:before, 
	.link-btn span:after{
		position: absolute;
		top: 50%;
		margin-top: -1px;
		width: 25px;
		height: 3px;
		transition: 0.25s;
		background: var(--theme);
		transform-origin: center;
	}

	.link-btn span{
		background: transparent;
	}

	.link-btn span:before, 
	.link-btn span:after{
		content: '';
		display: block;
		transition: 0.25s;
	}

	.link-btn span:before{
		transform: translateY(-5px);
	}

	.link-btn span:after{
		transform: translateY(5px);
	}

	.link-btn-active span{
		transform: translateY(0px) rotate(90deg);
	}

	.link-btn-active span:before{
		transform: translateY(0px) rotate(45deg);
	}

	.link-btn-active span:after{
		transform: translateY(0px) rotate(-45deg);
	}

	.header .phone{
		display: none;
	}

	.nav{
		transform: translateX(100%);
		display: none;
	}

	.nav-active{
		transform: translateX(0%);
		background: white;
		position: absolute;
		top: 84px;
		left: 0px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 20px 20px;
		font-size: 20px;
	}

	.nav-active > .link{
		padding-bottom: 5px;
	}

	.text-about > .icon{
		display: none;
	}

	.about .text{
		margin-left: 0;
	}

	.why-me > .reasons{
		width: 100%;
		display: grid;
		grid-template: 1fr  1fr / auto auto;
		align-items: center;
		justify-content: space-between;
	}

	.why-me > .reasons > div:nth-child(3){
		margin-top: 25px;
	}

	.swiper-container{
		height: 495px;
	}

	.card .back, .card .front{
		padding: 25px 20px 20px 20px;
	}

	.footer{
		font-size: 12px;
	}

	.all-theme{
		width: 45px;
		height: 20px;
	}
}

@media screen and (max-width: 600px), (max-device-width: 600px){
	body, .contact, .footer, .header, .main, .title-policy{
		padding-right: 20px;
		padding-left: 20px;
	}
	
	.main .photo{
		display: none;
	}

	.contacts{
		flex-direction: column;
		align-items: flex-start;
	}

	.contacts > .social{
		margin-top: 35px;
	}
	
	.footer{
		padding: 35px 20px;
	}
}

@media screen and (max-width: 550px), (max-device-width: 550px){
	body, .contact, .footer, .header, .main, .title-policy{
		padding-right: 15px;
		padding-left: 15px;
	}
	
	.link-btn{
		display: none;
	}

	.why-me > .reasons{
		width: 100%;
		display: grid;
		grid-template: auto auto auto / 1fr;
		align-items: center;
		justify-content: space-between;
	}

	.why-me > .reasons > div:nth-child(2){
		margin-top: 25px;
	}
	
	.social{
		width: 100%;
	}

	.social > div{
		width: 100%;
}
	
	.all-theme{
		width: 60px;
	}

	.footer{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 35px 15px;
	}

	.footer > div:nth-child(2){
		margin-top: 20px;
	}

	.footer > div:nth-child(3){
		margin-top: 20px;
	}
}
